
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>

    <header class="header"></header>

    <div class="container">
        <div class="api-entry">
            <h1 class="api-entry__title">Foo <a href="#" class="api-entry__file">/foo.js</a></h1>
            <p class="api-entry__socket-type">
                <span class="api-entry__keyword">Listens</span> for someEvent</p>
            <p class="api-entry__args-list">
                <span class="api-entry__keyword">Callback Args:</span> arg1, arg2, arg3</p>
            <p class="api-entry__description"><span class="api-entry__keyword--block">Description</span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe debitis illo similique, et maxime itaque provident nam deleniti aliquam quod.</p>
        </div> <!-- end api entry -->


        <div class="api-entry">
            <h1 class="api-entry__title">Foo <a href="#" class="api-entry__file">/foo.js</a></h1>
            <p class="api-entry__socket-type"><span class="api-entry__keyword">Emits</span> someEvent</p>
            <p class="api-entry__description"><span class="api-entry__keyword--block">Description</span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe debitis illo similique, et maxime itaque provident nam deleniti aliquam quod.</p>
            <code>
                {
                   "foo": "bar"
                }
            </code>
        </div><!-- end api container -->


    </div><!-- end container -->

</body>
</html>