
@import 'reset';
@import 'jeet/index';

$container-width: 1200px;
$header-height: 80px;

@include edit();

body,html {
  font-family: sans-serif;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}

p {
  margin: 10px;
}

code {
  font-family: 'Courier New','Andale Mono',monospace;
  display: block;
  padding: 10px;
  display:block;
}

.header {
  position: fixed;
  height: $header-height;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  max-width: $container-width;
  padding: 10px;
  @include center( $container-width );
  margin-top: 100px;
}

.api-entry {
  margin-top: 10px;
  padding: 20px;
  // @include column( 1/2 );
  // padding: 5px;
}

.api-entry__file {
  font-style: italic;
  font-size: .7em;
  float:right;
  padding: 2px;
}

.api-entry__callback-arg,
.api-entry__on-evt-name {
  padding-left: 5px;
  padding-right: 5px;
}

.api-entry__keyword {
  font-weight: bold;
}
.api-entry__keyword--block {
  @extend .api-entry__keyword;
  display:block;
}

.api-entry__label {
  font-weight: bold;
}

.api-entry__event-name {
  @extend .api-entry__keyword;
}